/Project/FileScheduleProject/FileScheduleProject/obj/Debug/netcoreapp3.1/project.razor.json
/Project/FileScheduleProject/WorkerService/obj/Debug/netcoreapp3.1/WorkerService.assets.cache
/Project/FileScheduleProject/WorkerService/obj/Debug/netcoreapp3.1/WorkerService.csproj.FileListAbsolute.txt
/Project/FileScheduleProject/WorkerService/obj/Debug/netcoreapp3.1/WorkerService.exe
