.icon{
    color: white;
}

table{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

.filter-field{
    font-size: 15px;
    width: 90%;
    margin-left : 5%;
    margin-top: 1%;
}

td,th{
    width: 25%;
}

.paginator{
    margin-right: 1%;
}

